<h1>About the app</h1>
<p class="bg-info text-danger">This is a transaction/todo app</p>
<p> 
For this PA I recreated the PA03 app as an Express App 
using Mongodb (through Mongoose) as the database. 

</p>